
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        Welcome 
        @ViewBag.Username
        your e-mail address is 
        @ViewBag.Email
    </div>
</body>
</html>
